div {
    padding: 2vh;
}

table {
    padding: 2vh;
    border-spacing: 2px;
    border-collapse: separate;
    width: 50vw;
    text-align: center;
}
td {
    border: 1px solid #d6d6d6;
    background-color: aliceblue;
}
table tr th:nth-child(1){
    width: 40%;
}
table tr th:nth-child(2){
    width: 60%;
}