<section>
    <div>
        <h1>Camera Live Weld Feed</h1>
    </div>
    <div>
        <h2>ML Flash Classification:</h2>
        <table>
            <tr>
                <th>Class</th>
                <th>Confidence</th>
                <th>Cumulative %</th>
            </tr>
            <tr>
                <td>A</td>
                <td>0.000</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>B</td>
                <td>0.000</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>C</td>
                <td>0.000</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>D</td>
                <td>0.000</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>E</td>
                <td>0.000</td>
                <td>0%</td>
            </tr>
        </table>
    </div>

    <canvas class="shadow" id="videostream" width="640" height="480"></canvas>

</section>

<img id="camera-feed" src="assets/camera/camera1.png" />