<div>
    <h1>Camera Live Weld Feed</h1>
</div>

<h2>ML Flash Classification:</h2>
<section>
    <div>
        <table>
            <tr>
                <th>Class</th>
                <th>Confidence</th>
                <th>Cumulative %</th>
            </tr>
            <tr>
                <td>A</td>
                <td>0.000</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>B</td>
                <td>0.000</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>C</td>
                <td>0.000</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>D</td>
                <td>0.000</td>
                <td>0%</td>
            </tr>
            <tr>
                <td>X</td>
                <td>0.000</td>
                <td>0%</td>
            </tr>
        </table>
    </div>

    <div class="video">
        <video controls autoplay  muted #videoPlayer id="videoPlayer">
            <source src="{{videosource}}" type="video/mp4" />
            Browser not supported
        </video>
    </div>
    
</section>
<p>Video source: {{videosource}}</p>
