table {
    padding: 10px;
    border-spacing: 5px;
    border-collapse: separate;
}
td {
    padding: 10px;
    border-spacing: 5px;
    border-collapse: separate;
    padding-left: 50px;
}

#camera-feed {
    width: 480px;
    height: 400px;
    rotate: 90deg;
    position: absolute;
    top: 20vh;
    right: 0vw;
}