<main class="main">
  <div id="nav_bar">
    <span class="nav_item_header"><strong>Data Dashboard</strong></span>
    <div class="nav_section">
        <a class="nav_link nav_active" href="">
            <img src="assets/nav_icons/icon_home.png" class="nav_icon" />
            <span class="nav_item">Dasboard</span>
        </a>
    </div>
    <div class="nav_section">
        <a class="nav_link" href="temperature">
            <img src="assets/nav_icons/icon_temperature.png" class="nav_icon" />
            <span class="nav_item">Temperature</span>
        </a>
        <a class="nav_link" href="camera">
            <img src="assets/nav_icons/icon_camera.png" class="nav_icon" />
            <span class="nav_item">Camera</span>
        </a>
        <a class="nav_link" href="accelerometer">
            <img src="assets/nav_icons/icon_accelerometer.png" class="nav_icon" />
            <span class="nav_item">Accelerometer</span>
        </a>
        <a class="nav_link" href="acoustic">
            <img src="assets/nav_icons/icon_acoustic.png" class="nav_icon" />
            <span class="nav_item">Acoustic</span>
        </a>
    </div>
    <div class="nav_section">
        <a class="nav_link" href="info">
            <img src="assets/nav_icons/icon_about.png" class="nav_icon" />
            <span class="nav_item">About</span>
        </a>
        <a class="nav_link" href="userlog">
            <img src="assets/nav_icons/icon_logs.png" class="nav_icon" />
            <span class="nav_item">User Logs</span>
        </a>
    </div>
  </div>   <!-- end nav_bar -->

  

  <div class="content">
    <router-outlet />
  </div>
</main>







