.status-online {
    color: #00aa00;
}
.status-offline {
    color: #ff0000;
}

#statusList ul {
    list-style-type: none;
    padding: 0;
}
#statusList li {
    padding: 7px;
    background-color: aqua;
    border: 5px solid black;
    font-weight: bold;
    font-size: larger;
}

#statusList h2 {
    font-family:'Times New Roman', Times, serif;
    font-size:1.5rem;
}

section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 5px;
    margin: 5px;
}

section p {
    width: 92%;
    text-align: justify;
}

#homeContent {
    padding-left: 2vw;
}

p.tabbed {
    text-indent: 2em;
}

#imgMachine {
    width: 100%;
}

#imgLogo {
    width: 20vw;
}

.machine-container {
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: rgba(red, green, blue, alpha); /* Light blue background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: auto;
}

.introduction-container {
    margin-bottom: 10px;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(red, green, blue, alpha); /* Light blue background */
    border-radius: 10px;
    margin-top: 70px; /* Adjusted margin */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: auto;
}

.mission-container {
    margin-bottom: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(red, green, blue, alpha); /* Light blue background */
    border-radius: 10px;
    margin-top: 20px; /* Adjusted margin */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: auto;
}

.info-container {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(red, green, blue, alpha); /* Light blue background */
    border-radius: 10px;
    margin-top: 20px; /* Adjusted margin */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: 80%;
    padding-left: 20px;
}

.info-container > h2 {
    color:#25324d;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.info-container > p {
    font-weight:normal;
    font-size:1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.dashboard-container {
    text-align: center;
    padding: 20px;
    margin-top: 20px; /* Adjusted margin */
    background-color: rgb(183, 229, 232);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(247, 247, 94);
    font-weight: bold;
    font-size: x-large;
}

.rightAligned {
    float: right;
}

header > h1 {
    color:#25324d;
    font-weight: bold;
    font-size: 4rem;
    text-align: justify;
    text-justify: inter-word;
    font-family:'Times New Roman', Times, serif;
}

header > p {
    text-align: left;
    font-size: 1.5rem;
    padding-left: 7px;
    font-family: Arial, Helvetica, sans-serif;
}

.introduction-container > h2 {
    font-weight:normal;
    font-size:1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.mission-container > h2 {
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    font-size:1.5rem;
}

.mission-container > p {
    font-weight:normal;
    font-size:1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}