<header>
        <h1>Welcome to StirTech Welding Company!</h1>
        <p>Select a Sensor from the Navigation Bar on the Left to View its Data. <em>For more information, please see the </em><a href="/info">About page</a>.</p>
</header>

<section>

    <div id="statusList">
        <h2>Current Sensor Status</h2>
        <ul>
            <li [style.background-color]="this.status_temperature ? '#d8edbb' : '#f2c4bd'"
                [style.border-color]="this.status_temperature ? '#c5e39d' : '#e3b196'">
                Temperature: 
                <span id="status-temperature" #statusTemperature 
                    [className]="status_temperature ? 'status-online' : 'status-offline'">
                    {{this.status_temperature ? 'Running' : 'Offline'}}
                </span>
            </li>
            <li [style.background-color]="this.status_camera ? '#d8edbb' : '#f2c4bd'"
                [style.border-color]="this.status_camera ? '#c5e39d' : '#e3b196'">
                Camera: 
                <span id="status-camera" #statusCamera 
                    [className]="status_camera ? 'status-online' : 'status-offline'">
                    {{this.status_camera ? 'Running' : 'Offline'}}
                </span>
            </li>
            <li [style.background-color]="this.status_accelerometer ? '#d8edbb' : '#f2c4bd'"
                [style.border-color]="this.status_accelerometer ? '#c5e39d' : '#e3b196'">
                Accelerometer: 
                <span id="status-accelerometer" #statusAccelerometer 
                    [className]="status_accelerometer ? 'status-online' : 'status-offline'">
                    {{this.status_accelerometer ? 'Running' : 'Offline'}}
                </span>
            </li>
            <li [style.background-color]="this.status_acoustic ? '#d8edbb' : '#f2c4bd'"
                [style.border-color]="this.status_acoustic ? '#c5e39d' : '#e3b196'">
                Acoustic: 
                <span id="status-acoustic" #statusAcoustic 
                    [className]="status_acoustic ? 'status-online' : 'status-offline'">
                    {{this.status_acoustic ? 'Running' : 'Offline'}}
                </span>
            </li>
            <li [style.background-color]="this.status_db ? '#d8edbb' : '#f2c4bd'"
                [style.border-color]="this.status_db ? '#c5e39d' : '#e3b196'">
                MongoDB: 
                <span id="status-db" #statusDB 
                    [className]="status_db ? 'status-online' : 'status-offline'">
                    {{this.status_db ? 'Running' : 'Offline'}}
                </span>
            </li>
        </ul>

        <div class="info-container">
            <h2>Contact Information</h2>
            <p><strong>Address:</strong><br>19253 Main Street, <br>Big City, Minnesota, 55268</p>
            <p><strong>Phone:</strong><br><a href= "tel: +15148693258">(514) 869-3258</a></p>
            <p><strong>Email:</strong><br><a href= "mailto: info@stirtechwelding.com">info&#64;stirtechwelding.com</a></p>
            <p><strong>Fax:</strong><br><a href= "tel: +11234567890">(123) 456-7890</a></p>
        </div>

    </div>

    <div id="homeContent">

        <div class="introduction-container">
            <h2>At StirTech Welding Company, we are dedicated to revolutionizing the world of industrial welding through innovative solutions and cutting-edge technology. With a commitment to excellence and a passion for pushing the boundaries of what's possible, we strive to provide our clients with unparalleled quality and reliability in every project.
            </h2>
        </div>

        <!-- <div class="dashboard-container">
            <a>View Our Status Dashboard Below!</a>
        </div> -->

        <div class="mission-container">
            <h2>Our Mission Statement</h2>
            <p>Our mission at StirTech Welding Company is to lead the industry in friction stir welding technology and services. We aim to empower our clients with state-of-the-art solutions that optimize their welding processes, enhance productivity, and ensure the highest standards of quality and performance. By combining expertise, innovation, and a relentless pursuit of excellence, we endeavor to exceed expectations and drive success for our clients, partners, and stakeholders alike.</p>
        </div>

        <div class="machine-container">
            <!-- <img src="assets/welding.png" alt="Welding Image" id="imgLogo"> -->
            <img src="assets/PAR_machine.png" id="imgMachine"/>
        </div>

    </div>
</section>
